@import url('https://fonts.googleapis.com/css?family=Saira');

html {
    background: linear-gradient(90deg, #125C66, #069954);
    font-family: 'Saira', sans-serif;
}


#root {
    text-align: center;
}

.theTime{
    color:white;
}

.location {
    font-size: 19px;
}


.familyTime {
    font-size: 30px;
    
}
